
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head {
    height: 100px;
    width: 81%;
    border: px solid grey;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    
}


.brand h1{
    
    color: rgb(88,38,241); 
    font-family: 'Poppins',sans-serif;
    letter-spacing:  0.3px;
    font-weight: bolder;
    font-size: 25px;
    
    
    
        
}
.brand {
    top: 5.8%;
    left: 12.4%;
    position: absolute;
    transform: translate(-50%,-50%);
    
    
    
    
}
.brand h1 a{
    text-decoration: none;
}


.navo ul li{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    list-style: none;
    color: rgb(28,46,60);

    
    
    
    
}
.navo ul{
    display: inline-block;
    column-gap: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.navo a{
    text-decoration: none;
    
    
}
.navo{
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.navo ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgb(88,38,241);
    display: block;
    margin: auto;
    transition: 0.3s;
    
}


.navo ul li:hover::after{
    width: 100%;
    
}
.sp{
    top: 50%;
    left: 36.4%;
    position: relative;
    
}



.login{
   position: absolute;
    top: 6%;
    left: 88.55%;
    transform: translate(-50%,-50%);
}


.log{
    
    padding: 9px 15px;
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    border: none;
    background-color: rgb(28,46,60);
    color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    cursor: pointer;
}   
.log:hover{
    background-color: rgba(28,46,60,0.9);
}

.box {
    height: 550px;
    width: 81%;
    margin: auto;
    border: px solid grey;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    
}

.box h1{
    color: whitesmoke;
    font-family: 'poppins',sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 35px;
}


.boxt {
    height: 100px;
    width: 100%;
    background-image: url(fernanda-martinez-Lbu6luIw3g8-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    
}

.image {
    
}

.image img{
    
    height: 350px;
    width: 500px;
    border-radius: 10px;
    top: 45%;
    left: 74.6%;
    transform: translate(-50%,-50%);
    position: absolute;
    
}

.about {
    font-family: 'poppins',sans-serif;
    color: rgb(28,46,60);
    top: 24%;
    left: 27.5%;
    transform: translate(-50%,-50%);
    position: absolute;
    
}

.about span{
    color: rgb(88,38,241);
}

.par {
    height: 300px;
    width: 550px;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    font-size: 17px;
    top: 50%;
    left: 29%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.vaal {
    
    height: 90px;
    width: 81.7%;
    border: 1px solid grey;
    margin: auto;
    top: 82%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 10px;
    background-color: rgb(28,46,60);
    
    
    
}
.vaal h3{
    font-family: 'poppins',sans-serif;
    color: whitesmoke;
    text-align: center;
    top: 50%;
    left: 44%;
    transform: translate(-50%,-50%);
    position: relative;
    
}
.lo{
  
}


.l{
    
    padding: 9px 15px;
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    border: none;
    background-color: rgb(88,38,241);
    color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    cursor: pointer;
}   
.l:hover{
    background-color: rgba(88,38,241,0.9);
}

.vaal button{
    top: 18%;
    left: 88%;
    transform: translate(-50%,-50%);
    position: relative;
}

