
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.head {
    height: 100px;
    width: 81%;
    border: px solid grey;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    
}


.brand h1{
    
    color: rgb(88,38,241); 
    font-family: 'Poppins',sans-serif;
    letter-spacing:  0.3px;
    font-weight: bolder;
    font-size: 25px;
    
    
    
    
        
}
.brand {
    top: 5.8%;
    left: 12.4%;
    position: absolute;
    transform: translate(-50%,-50%);
    
    
    
    
}


.navo ul li{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    list-style: none;
    color: rgb(28,46,60);

    
    
    
    
}
.navo ul{
    display: inline-block;
    column-gap: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.navo a{
    text-decoration: none;
    
    
}
.navo{
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.navo ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: rgb(88,38,241);
    display: block;
    margin: auto;
    transition: 0.3s;
    
}


.navo ul li:hover::after{
    width: 100%;
    
}
.sp{
    top: 50%;
    left: 36.4%;
    position: relative;
    
}



.login{
   position: absolute;
    top: 6%;
    left: 88.55%;
    transform: translate(-50%,-50%);
}


.log{
    
    padding: 9px 15px;
    font-family: 'poppins',sans-serif;
    font-weight: 600;
    border: none;
    background-color: rgb(28,46,60);
    color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    cursor: pointer;
}   
.log:hover{
    background-color: rgba(28,46,60,0.9);
}
         


.pic {
    width: 81%;
    height: 350px;
    border: px solid grey;
    margin: auto;
    background-image: linear-gradient(rgba(88,38,241,0.7),rgba(88,38,241,0.7)),url(brooke-lark-HlNcigvUi4Q-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    
}
.pic h1{
    font-family: 'Poppins',sans-serif;
    color:#F29D00;
    text-align: center;
    top: 43%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    font-size: 40px;
}
.pic p{
   font-family: 'Poppins',sans-serif;
    color: white;
    text-align: center;
    top: 40%;
    left: 50%;
    position: relative;
    transform: translate(-50%,-50%);
    font-weight: 600;
    font-size: 19px; 

}

.tag {
    border: px solid grey;
    height: 200px;
    width: 81%;
    margin: auto;
    margin-top: 36px;
}

.tl {
    border:  px solid grey;
    height: 200px;
    width: 13%;
    border-radius: 10px;
    background-color: rgb(247,249,260);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    cursor: pointer;
    float: left;
    
}
.tl h3{
    font-family: 'poppins',sans-serif;
    
    color: rgb(28,46,60);
    top: 20%;
    left: 62%;
    position: relative;
    transform: translate(-50%,-50%);
    
    
}
.tl ul li{
    font-family: 'poppins',sans-serif;  
    font-weight: 500;
    list-style: none;
    font-size: 14px;
    color: rgb(28,46,60);
   
    
    
    
}
.tl ul{
     top: 40%;
    left: 62%;
    position: relative;
    transform: translate(-50%,-50%)
}

.tr {
    border: px solid grey;
    height: 180px;
    width: 1060px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    cursor: pointer;
    
    

    
}

.bf {
    background-image: url(eiliv-aceron-uAm1CZMdPCw-unsplash.jpg);   
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 250px;
    border-radius: 8px;
    transition: 0.2s;
    border: px solid grey

    
}
.bf:hover{
    transform: scale(1.03);
    
}

.sn {
   background-image: url(shreyak-singh-wVyImqCFkiE-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 250px; 
    border-radius: 8px;
    transition: 0.2s;
    
}
.sn:hover{
    transform: scale(1.03);
    
}

.nv {
    background-image: url(victoria-shes-4MEL9XS-3JQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 250px;
    border-radius: 8px;
    transition: 0.2s;
}
.nv:hover{
    transform: scale(1.03);
    
}
    

.v {
    background-image: url(ca-creative-bpPTlXWTOvg-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 250px;
    border-radius: 8px;
    transition: 0.2s;
    
}
.v:hover{
    transform: scale(1.03);
    
}

.bsnv {
    width: 1060px;
    height: 80px;   
    border: px solid grey;
    float: right;
    margin-right: 150.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    
}
.bsnv a{
    text-decoration: none;
    color: black;
}

.bff {
    height: 80px;
    width: 270px;
    border: px solid grey;
    
    
}
.bff p{
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    
}
.bff h2{
    color: rgb(28,46,60);
    font-family: 'poppins',sans-serif;
    font-size: 20px;
    
}

.snn {
    height: 80px;
    width: 270px;
    border: px solid grey;
}
.snn{
    font-family: 'poppins',sans-serif;
    font-weight: 500;
}
.snn h2{
   color: rgb(28,46,60);
    font-family: 'poppins',sans-serif;
    font-size: 20px;
}

.nvv {
    height: 80px;
    width: 270px;
    border: px solid grey;
}
.nvv p{
    font-family: 'poppins',sans-serif;
    font-weight: 500;
}
.nvv h2{
    color: rgb(28,46,60);
    font-family: 'poppins',sans-serif;
    font-size: 20px;
}

.vv {
    height: 80px;
    width: 270px;
    border: px solid grey;
}
.vv p{
    font-family: 'poppins',sans-serif;
    font-weight: 500;
}
.vv h2{
    color: rgb(28,46,60);
    font-family: 'poppins',sans-serif;
    font-size: 20px;
}


